body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    text-align: center;
    margin-top: 20px;
  }

  #movieForm {
    text-align: center;
    margin-top: 20px;
  }

  #movieTitle {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
  }

  button {
    padding: 5px 10px;
  }

  #result {
    text-align: center;
    margin: 20px 0;
  }

  .divider {
    width: 90%;
    border: 1px solid blue;
    margin-bottom: 20px;
  }

  #movieInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
  }

  #movieDetails {
    max-width: 400px;
  }

  #movieDetails img {
    display: block;
    margin: 0 auto;
  }

  #actors {
    text-align: left;
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
  }

  #movieInfoContainer {
    flex-grow: 1;
    padding-left: 20px;
  }

  #plotContainer {
    max-width: 400px;
    margin: 0 auto;
  }

  #plot {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    overflow: auto; /* Añadido para manejar desbordamiento de texto */
  }